<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alunos Cadastrados</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>CPF</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aluno : ${alunos}">
            	<td th:text="${aluno.id}"></td>
            	<td th:text="${aluno.nome}"></td>
            	<td th:text="${aluno.cpf}"></td>
                <td>
                    <a th:href="@{'/aluno/' + ${aluno.id} + '/editar'}">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>